<div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000" >
        <img src="assets/gallery-1.jpg" class="img-fluid w-100 overflow-y-hidden" alt="...">
        <div class="carousel-caption d-none d-md-block text-start">
            <h3>The Grand Gallery</h3>
            <h4>Rented to Mr Hamza Elloumi</h4>
            <h5>Date:03/03/2024</h5>
            <p>Don't hesitate to join us!!</p>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000" >
        <img src="assets/gallery-2.jpg" class="img-fluid w-100 overflow-y-hidden" alt="...">
        <div class="carousel-caption d-none d-md-block text-end ">
          <h3>The Cozy Corner</h3>
          <h4>Rented to Mr Ahmed Ben Ahmed</h4>
          <h5>Date:23/03/2024</h5>
          <p>Don't hesitate to join us!!</p>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="assets/gallery-3.jpg" class="img-fluid height: auto w-100 overflow-y-hidden" alt="...">
        <div class="carousel-caption d-none d-md-block text-start" >
          <h3>The Cultural Crossroads</h3>
          <h4>Rented to Mrs Sirine Mbazaa</h4>
          <h5>Date:30/03/2024</h5>
          <p>Don't hesitate to join us!!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row "><h1 class="text-center mt-5 mb-2">Top Ranked Galleries</h1></div>

<div class="container-fluid ms-4 me-4">
  <div class="row ">

    <div class="col-md-4">

      <div class="card " style=" border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">

        <img src="assets/gallery-1.jpg" class="card-img-top" style="height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" >

        <div class="card-body">

          <h5 class="card-title" style="color: #333; font-weight: bold;">TOP ranked </h5>

          <p class="card-text" style="color: #666;">The Grand Gallery <br>

            Address: 123 Rue Principale, Ariana <br>

            </p>

          <a href="gallery" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>

        </div>

      </div>

    </div>

  

    <div class="col-md-4">

      <div class="card" style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">

        <img src="assets/gallery-2.jpg" class="card-img-top" style=" height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" >

        <div class="card-body">

          <h5 class="card-title" style="color: #333; font-weight: bold;">TOP Rented</h5>

          <p class="card-text" style="color: #666;">

            The Cozy Corner <br>

            Address: 456 Avenue des Arts,Ben Arous <br></p>

          <a href="gallery" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>

        </div>

      </div>

    </div>

  

    <div class="col-md-4">

      <div class="card" style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">

        <img src="assets/gallery-4.jpg" class="card-img-top" style=" height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" >

        <div class="card-body">

          <h5 class="card-title" style="color: #333; font-weight: bold;">TOP New</h5>

          <p class="card-text" style="color: #666;">The Innovation Hub <br>

            Address: 789 Boulevard Culturel, Tunis <br>

            </p>

          <a href="gallery" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>

        </div>

      </div>

    </div>

    

  </div>
</div>


  <app-footer></app-footer>