<!-- <div class="row">
    <div class="col-md-4" *ngFor="let item of galleries">
      <div class="card " style=" border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <img [src]="item.imgurl" class="card-img-top" style="height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: #333; font-weight: bold;">{{item.name}}</h5>
          <p class="card-text" style="color: #666;">Dimensions: {{item.dimension}} <br>
            Rent Price: {{item.rentprice}} TND per day <br>
            {{item.location}}<br>
            </p>
          <a routerLink="/gallery/description" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>
        </div>
      </div>
    </div>
    </div> -->
    <div class="container ms-auto me-auto">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card " style=" border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <img src="assets/gallery-1.jpg" class="card-img-top" style="height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: #333; font-weight: bold;">The Grand Gallery</h5>
            <p class="card-text" style="color: #666;">Dimensions: 30m x 24m <br>
              Rent Price: 500 TND per day <br>
              Address: 123 Rue Principale, Ariana <br>
              </p>
            <a routerLink="/gallery/description" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>
          </div>
        </div>
      </div>
    
      <div class="col-md-4 mb-4">
        <div class="card" style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <img src="assets/gallery-2.jpg" class="card-img-top" style=" height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: #333; font-weight: bold;">The Cozy Corner</h5>
            <p class="card-text" style="color: #666;">
              Dimensions: 15m x 12m <br>
              Rent Price: 300 TND per day <br>
              Address: 456 Avenue des Arts,Ben Arous <br></p>
            <a routerLink="/gallery/description" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>
          </div>
        </div>
      </div>
    
      <div class="col-md-4 mb-4">
        <div class="card" style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <img src="assets/gallery-4.jpg" class="card-img-top" style=" height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: #333; font-weight: bold;">The Innovation Hub</h5>
            <p class="card-text" style="color: #666;">Dimensions: 36m x 30m <br>
              Rent Price: 600 TND per day <br>
              Address: 789 Boulevard Culturel, Tunis <br>
              </p>
            <a routerLink="/gallery/description" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card" style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <img src="assets/gallery-3.jpg" class="card-img-top" style=" height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: #333; font-weight: bold;">The Cultural Crossroads</h5>
            <p class="card-text" style="color: #666;">Dimensions: 24m x 18m <br>
              Rent Price: 400 TND per day <br>
              Address: 789 Boulevard Culturel, Tunis
              </p>
            <a routerLink="/gallery/description" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>
          </div>
        </div>
      </div>

        <div class="col-md-4 mb-4">
          <div class="card" style="border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <img src="assets/gallery-5.jpg" class="card-img-top" style=" height: 15rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #333; font-weight: bold;">The Nature Retreat</h5>
              <p class="card-text" style="color: #666;">Dimensions: 21m x 15m <br>
                Rent Price: 350 TND per day<br>
                Address: 234 Rue des Pins, Sousse
                </p>
              <a routerLink="/gallery/description" class="btn btn-primary" style="background-color: #007bff; border-color: #007bff;">More details</a>
            </div>
          </div>
      </div>

    </div>