<section class="product-container">
    <div class="img-card">
      <div class="img-container">
          <img src="assets/gallery-1.jpg" alt="" id="featured-image">
      </div>
  </div>
  
  
      <!-- Right side -->
<div class="product-info">
  <h5 class="card-title" style="color: #333; font-weight: bold;">The Grand Gallery</h5>
  <ul class="card-info">
      <li><strong>Dimensions:</strong> 30m x 24m</li>
      <li><strong>Rent Price:</strong> 500 TND per day</li>
      <li><strong>Space Owner:</strong> Gestion Événements Artistiques</li>
      <li><strong>Location:</strong>123 Rue Principale, Ville de l'Art</li>
  </ul>
  <div class="Description">
      <h3>Description:</h3>
      <p>Step into the majestic Grand Gallery, where vast space meets artistic splendor. With its soaring ceilings and expansive floor area, The Grand Gallery offers a grand ambiance for exhibitions and events. Located in the heart of Ville de l'Art, this gallery is the perfect setting for showcasing large-scale artworks and immersive installations.</p>
     
  </div>
  
  
</div>



  </section>