<div class="container ms-auto me-auto">
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 22rem; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <img src="assets/Immaculate Dome.jpg" class="card-img-top"class="imag-fluid"  style="height:20rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #333; font-weight: bold;">Immaculate Dome </h5>
              <p class="card-text" style="color: #666;">Dimensions: 30m x 24m <br>
                Price: 1000dt <br>
                Artist: Youssef Ben Youssef <br>
                Availability: In Stock <br> </p>
              <a routerLink="/painting/description" class="btn btn-primary"> More details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 22rem; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <img src="assets/Invigorating Seascape.jpg" class="card-img-top"class="imag-fluid"  style="height:20rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
            <div class="card-body">
            <h5 class="card-title" style="color: #333; font-weight: bold;">Invigorating Seascape  </h5>
            <p class="card-text" style="color: #666;">Dimensions: 70m x 60m <br>
                  Price: 1700dt <br>
                  Artist: Ahmed Ben Ahmed <br>
                  Availability: In Stock <br> </p>
            <a routerLink="/painting/description" class="btn btn-primary"> More details</a>
            </div>
        </div>
    </div>
    


    <div class="col-md-4 mb-4">
        <div class="card" style="width: 22rem; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <img src="assets/Abstract Seascape in Blues and Greens.jpg" class="card-img-top" class="imag-fluid" style="height: 19rem; border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #333; font-weight: bold;">Abstract Seascape in Blues and Greens </h5>
              <p class="card-text" style="color: #666;">Dimensions: 90m x 120m <br>
                Price: 700dt <br>
                Artist: Sirine Mbazaa <br>
                Availability: In Stock <br> </p>
              <a routerLink="/painting/description" class="btn btn-primary"> More details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 22rem; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <img src="assets/Shoal of Gold.jpg" class="card-img-top" class="imag-fluid" style="height: 20rem; border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #333; font-weight: bold;">Shoal of Gold  </h5>
              <p class="card-text" style="color: #666;">Dimensions: 60m x 50m <br>
                Price: 1500dt <br>
                Artist: Sarra ahmed <br>
                Availability: In Stock <br> </p>
              <a routerLink="/painting/description" class="btn btn-primary"> More details</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 22rem; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <img src="assets/Sidi Bousaid.png" class="card-img-top"class="imag-fluid" style="height: 20rem;border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #333; font-weight: bold;">Sidi Bousaid </h5>
              <p class="card-text" style="color: #666;">Dimensions: 90m x 120m <br>
                Price: 700dt <br>
                Artist: Hamza Elloumi <br>
                Availability: In Stock <br> </p>
              <a routerLink="/painting/description" class="btn btn-primary"> More details</a>
            </div>
        </div>
    </div>
</div>
</div>